<!DOCTYPE html>
<html>
<head>
  <title>Matrix Calculator</title>
  <link rel="stylesheet" href="Cryptography.css">
  
</head>
<body style="background-color: antiquewhite;">
  <h1 style="color: lightseagreen;"><marquee>Welcome to the Inverse Matrix Calculator!</marquee></h1>
  <p>This calculator allows you to perform various matrix operations.</p>
  
  <h2 style="color: brown;">Instructions:</h2>
  <ul>
    <li>Input the matrix.</li>
    <li>Click the "Calculate" button to see the result.</li>
  </ul>
  
  
  <h2 style="color: darkslateblue;">Input Field:</h2>
  <label for="matrix1">Matrix 1:</label>
  <br>
  <textarea id="matrix1" rows="3" cols="30"></textarea>
  <br><br>
  
  
  <label for="operation">Operation:</label>
  <br>
  <select id="operation">
    <option value="inverse">Inverse</option>
    <!-- Add more operations as needed -->
  </select>
  <br><br>
  
  <button style="background-color: salmon;" id="calculate";>Calculate</button>
  
  <script>
    // You can add JavaScript code here for handling calculations
    // and interacting with the calculator
  </script>
</body>
</html>